:root{
    --hover-color:#174EA6;
    --main-color:#4285F4;
    --active-color:#3d86fc;
    --second-hover: #E4ECFA;
    --borders: #DADCE0;
    --arrow-color: #B5B6B7;
    --lang-letters: #5F6368;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Google';
    src: url('fonts/google-font.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: 'Google';
    /* color: #000; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /* border: 1px solid; */
}

body{
    width: 100%;
    height: 97vh;
    /* border: 1px solid; */
}

.main-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borders);
    margin-bottom: 10px;

}

header.main-header .menus{
    flex: 1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

header.main-header div:first-child{
    /* border: 1px solid red; */
    gap: 10px;
}

header.main-header div svg{
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
}

header.main-header div svg:hover{
    background: var(--second-hover);
}
header.main-header div:last-child{
    justify-content: flex-end;
}

header.main-header div:last-child img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}


header.main-header .menus .google{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

header.main-header .menus .google span{
    font-weight: 500;
}

header.main-header .menus .google span:nth-child(1){
    color: #4285F4;
    font-family: 'Google';
}
header.main-header .menus .google span:nth-child(2){
    color: #EA4335;
}
header.main-header .menus .google span:nth-child(3){
    color: #FBBC05;
}
header.main-header .menus .google span:nth-child(4){
    color: #4285F4;
}
header.main-header .menus .google span:nth-child(5){
    color: #34A853;
}
header.main-header .menus .google span:nth-child(6){
    color: #EA4335;
}
header.main-header .menus .google span:nth-child(7){
    color: #5f6368;
    font-weight: 500;
    margin-left: 5px;
}

header.main-header div:last-child{
    /* border: 1px solid red; */
    gap: 10px;
}

.main-navigation{
    margin-left: 30px;
    width: 400px;
    height: 50px;
    /* border: 1px solid red; */
}

.main-navigation ul{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 5px;

}

svg{
    width: 24px;
    height: 24px;
    color: var(--main-color)
}

.main-navigation ul li{
    flex: 1;
    padding: 5px;
    font-weight: 500;
    color: var(--hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid var(--borders);
    border-radius: 5px;

}

/* .main-navigation ul li:focus{
    background: var(--active-color);
} */

.main-navigation ul li:nth-child(2){
    flex: 2;
}

.main-navigation ul li:hover{
    background: var(--second-hover);
    color: var(--hover-color);
}

.main-navigation ul li:hover > svg{
    fill: var(--hover-color);
}

.bottom {
    width: 100%;
    height: 34px;
}

.bottom ul li{
    display: flex;
    flex-direction: column;
    color: #757575;
}

.bottom ul li svg{
    fill: #757575;
}