:root{
    --hover-color:#174EA6;
    --main-color:#4285F4;
    --active-color:#3d86fc;
    --second-hover: #E4ECFA;
    --borders: #DADCE0;
    --arrow-color: #B5B6B7;
    --lang-letters: #5F6368;
    --toggle-hover: #EFF0F0;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Google';
    src: url('fonts/google-font.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: 'Google';
    /* color: #000; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /* border: 1px solid; */
}

body{
    width: 100%;
    height: 97vh;
    /* border: 1px solid; */
}

/* BARRA SUPERIOR */
.main-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borders);
    margin-bottom: 10px;

}

header.main-header .menus{
    flex: 1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

header.main-header div:first-child{
    /* border: 1px solid red; */
    gap: 10px;
}

header.main-header div:first-child > span {
    color: var(--lang-letters);
}

header.main-header div svg{
    width: 35px;
    height: 35px;
    padding: 5px;
    fill: var(--lang-letters);
    border-radius: 50%;
}

header.main-header div svg:hover{
    background: var(--toggle-hover);
}
header.main-header div:last-child{
    justify-content: flex-end;
}

header.main-header div:last-child img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}


header.main-header .menus .google{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

header.main-header .menus .google span{
    font-weight: 500;
}

header.main-header .menus .google span:nth-child(1){
    color: #4285F4;
    font-family: 'Google';
}
header.main-header .menus .google span:nth-child(2){
    color: #EA4335;
}
header.main-header .menus .google span:nth-child(3){
    color: #FBBC05;
}
header.main-header .menus .google span:nth-child(4){
    color: #4285F4;
}
header.main-header .menus .google span:nth-child(5){
    color: #34A853;
}
header.main-header .menus .google span:nth-child(6){
    color: #EA4335;
}
header.main-header .menus .google span:nth-child(7){
    color: #5f6368;
    font-weight: 500;
    margin-left: 5px;
}

header.main-header div:last-child{
    /* border: 1px solid red; */
    gap: 10px;
}

/* NAVEGAÇÃO TIPO DE TRADUÇÃO */

.main-navigation{
    /* margin-left: 30px; */
    width: 100%;
    height: 150px;
    background: #FAFAFA;
    border-bottom: 1px solid var(--borders);
    /* border: 1px solid red; */
}

.main-navigation ul{
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 5px;

}

.main-navigation ul li svg{
    width: 24px;
    height: 24px;
    color: var(--main-color)
}

.main-navigation ul li{
    flex: 1;
    padding: 7px;
    font-weight: 500;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid var(--borders);
    border-radius: 5px;

}

.main-navigation ul li:nth-child(2){
    flex: 2;
}

.main-navigation ul li:hover{
    background: var(--second-hover);
    color: var(--hover-color);
    cursor: pointer;
}

.main-navigation ul li:hover > svg{
    fill: var(--hover-color);
}

.main-content {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content .main-div{
    top: 120px;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid var(--borders);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: absolute;
}

.main-content .main-div .main-lang{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid var(--borders);
}

.main-content .main-div .main-lang .navigation-lang {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content .main-div .main-lang .navigation-lang ul {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    /* border: 1px solid red; */
    list-style: none;
}

.main-content .main-div .main-lang .navigation-lang ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .main-div .main-lang .navigation-lang ul li:hover{
    background: var(--toggle-hover);
}

.main-content .main-div .main-lang .navigation-lang .list-one li{
    flex: ;
}

.main-content .main-div .write-area {
    width: 100%;
    height: 80%;
    display: flex;
}

.main-content .main-div .write-area .translate-area{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid var(--borders);
    padding: 15px;
}

.main-content .main-div .write-area .translate-area .input-area{
    flex: 4;
    width: 100%;
    /* border: 1px solid red; */
}

.main-content .main-div .write-area .translate-area .output{
    background: #FAFAFA;
}


.main-content .main-div .write-area .translate-area .interation-area{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 10px; */
    /* border: 1px solid red; */
}

.main-content .main-div .write-area .translate-area .interation-area .info-area{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid red; */

}

.main-content .main-div .write-area .translate-area .interation-area .info-area .infor-letters{
    font-size: 12px;
    color: var(--arrow-color);
}

.main-content .main-div .write-area .translate-area .interation-area .info-area .lang-input {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content .main-div .write-area .translate-area .interation-area .info-area .lang-input svg{
    fill: var(--arrow-color);
}

.main-content .main-div .write-area .translate-area .interation-area .info-area .lang-input svg:last-child{
    width: 10px;
    height: 10px;
}

/* ÍCONES DE BAIXO */
.bottom {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom ul {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.bottom ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #757575;
    cursor: pointer;
}

.bottom ul li svg{
    fill: #757575;
    width: 70px;
    height: 70px;
    padding: 20px;
    border: 1px solid var(--borders);
    border-radius: 50%;
}

li:hover{
    cursor: pointer;
}